@import "./vars.css";

.App {
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.App * {
    box-sizing: inherit; 
}

@media screen and (max-width: 830px) {
    .App {
        padding: 800px;
        overflow-x: hidden;
        height: auto; 
    }
}

@media screen and (max-width: 480px) {
    .App {
        overflow-x: hidden;
        padding: 10px; 
    }
}
